{% extends 'base.html' %}

{% block material %}
<style>
    .ocupado {
        background-color: #f8d7da; /* vermelho claro */
    }
    .vago {
        background-color: #d4edda; /* verde claro */
    }
    label {
        color: black; /* Define a cor do texto do label como preta */
    }
    #produto {
        color: black; /* Cor do texto das opções */
        background-color: white; /* Fundo branco para contraste */
    }
    select {
        color: black; /* Define o texto como preto */
        background-color: white; /* Fundo branco para contraste */
    }
    select option {
        color: black; /* Define o texto das opções como preto */
        background-color: white; /* Define o fundo das opções como branco */
    }
    
</style>

<h3>Lista de Espaços de Armazenamento</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Número do Espaço</th>
            <th scope="col">Produto</th>
            <th scope="col">Status</th>
            <th scope="col">Entrada  de Produto</th>
            <th scope="col">Saida de Produto</th>
        </tr>
    </thead>
    <tbody>
        {% for espaco in espacos %}
        <tr class="{% if espaco.produto %}ocupado{% else %}vago{% endif %}">
            <td>{{ espaco.numero }}</td>
            <td>
                {% if espaco.produto %}
                <a href="#">{{ espaco.produto }}</a>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                
                {% if espaco.produto %}
                    Ocupado
                {% else %}
                    Vago
                {% endif %}
            </td>
            <td>
                <form action="{% url 'espaçoarmazenamento' %}" method="post" id="lista-espacos-form">
                    {% csrf_token %}
                    <label for="produto">Selecione o produto:</label>
                    <select name="produto_id" id="produto" required>
                        <option value="">-- Escolha um produto --</option>
                        {% for produto in produtos %}
                        <option value="{{ produto.id }}">{{ produto.nome }}</option>
                        {% endfor %}
                    </select>
                
                    <input type="submit" value="Incluir Produto no Espaço">
                </form>             
            </td>
            <td>
                <form method="POST" action="{% url 'saida_para_entrega' espaco.id %}">
                    {% csrf_token %}
                    <button type="submit">Sair para Entrega</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}